<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta  ="viewport" content="width=device-width, initial-scale=1">
  <meta  ="theme-color" content="#ffffff">
  <title>Sabka Bazaar</title>
</head>

<body>
  <div class="" id="carousel-container">

  </div>
  <div class="display" id="banner-container">

  </div>
</body>
</html>
